.Rproj.user
.Rhistory
test.R
\#notes.org#
.#notes.org
ltximg
notes.org~
03-exploration
04-processed-data
05-output
backup
*.aux
*.log
*.out
*.gz
*~
*.el
*test.*
*.bbl
*.blg
*.rel
\#*
.\#*
/06-text/_region_.tex
/06-text/draft.prv/
renv/library
06-text/*.pdf
/06-text/_region_.prv/
/06-text/*.toc
/06-text/rapport-haute-couture.prv/
/01-raw-data/MacMap/mmhs62019.csv
